@import "tailwindcss";

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}

.smooth-bounce {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

section {
  scroll-margin-top: 80px;
}

#about {
  scroll-margin-top: 80px; /* height of navbar */
}